body {
  background-color: #f3f4f6;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.form-container {
  padding: 20px;
  border-radius: 12px;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
}


.form-container h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.form-container label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #555;
}

.form-container input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  transition: border-color 0.3s;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  border-bottom: none;

}

.cv{
  background-image: url('../img/reloj.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 268px;
  margin-top:80px;
}

.form-container input:focus {
  border-color: #fdda24;;
  outline: none;
}

.form-container button {
  width: 70%;
  padding: 12px;
  font-size: 1rem;
  color: #fff;
  background-color: #d1d5db;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #d1d5db;
}
.cabecera{
  width:100%;
}

.letras{
  width:100%;
  text-align: center;
  margin-bottom: 64px;
}

.user{
  padding-bottom: 5px;
  width: 42px;
  height: 32px;
  border: 1px solid #ddd;
  border-top: none;
  border-left: none;
  border-right: none;7
  margin-top: -10px;

}

.mb-2{
  margin-bottom: 40px;
  padding: 50px 10px 3px 10px;
  margin-top: 193px;
  

}

.inputb{
  display: flex;
  align-items: center;
}

/* Botón deshabilitado (gris) */
button.disabled {
  background-color: #d1d5db;
  color: #9ca3af;
  cursor: not-allowed;
  font-weight: 700;
}

/* Botón habilitado (amarillo) */
button.enabled {
  background-color: #fdda24; /* Amarillo */
  color: #000000; /* Texto negro */
  font-weight: 700;
  cursor: pointer; /* Cambiar el cursor a pointer */
  transition: background-color 0.3s ease; /* Animación suave al cambiar */
}
.lineas{
  margin-top: -21px;
  width: 100%;
}